a.ctda-link {
    color: #d2e4e7;
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;
}

a.ctda-link:hover {
    color:#fff;
    text-decoration: none;
}

a.ctda-link__inverse {
  > * {
    color: #fff;
  }

}

a.ctda-link__inverse:hover {
  > * {
    color: #d2e4e7;
  }
}
