.ctdata-btn {
    //margin: 0.1rem;
    background-color: $ctdata-extra-dark-blue;
    color: $ctdata-extra-light-blue;
}

.ctdata-btn:hover {
    background-color: $ctdata-dark-blue;
    color: white;
}